.logo {
  width: 33%;
}

.source {
  color: #666;
  font-family: 'PT Mono', monospace;
  font-size: 90%;
  height: 40vh;
  width: 100%;
}

code {
  font-family: 'PT Mono', monospace;
}

footer {
  font-size: .8rem;
  text-align: center;
}

.xebia-logo {
  width: 20%;
}

pre {
  position: relative;
}

.action-container {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.action-button {
  float: right;
  font-size: 2.5rem;
  margin-left: 1rem;
  padding: 0;
  width: 4rem;
}
